body.dark-mode {
    background-color: var(--black);
    color: var(--white);
}
.header__nav-item {
    &:hover{
        color: var(--black);
    }
}
[role="switch"]:focus,
  [role="switch"]:hover {
    color: var(--black);
  }